@page "/Data/Product"

@using WebAppProject.Data
@using WebAppProject.Data.Models
@using WebAppProject.ViewModels.Product

@inject IProductDataService db

<h1>Product Page</h1>

<h4>Current Products</h4>

@if (products is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxGrid Data="products"  
            ShowSearchBox="true"
            EditModelSaving="OnEditModelSaving"
            DataItemDeleting="OnDataItemDeleting"
            CustomizeEditModel="OnCustomizeEditModel"
            KeyFieldName="Id"
            ShowGroupPanel="true"
            ShowFilterRow="true"> 
        <Columns>
            <DxGridCommandColumn />
            <DxGridDataColumn FieldName="Name" />
            <DxGridDataColumn FieldName="Price"
                              DisplayFormat="c"
                              Caption="Price"/> 
            <DxGridDataColumn FieldName="DateAdded"
                              DisplayFormat="D" />

        </Columns>
        <TotalSummary>
            <DxGridSummaryItem FooterColumnName="Name"
                               SummaryType="GridSummaryItemType.Count" />
        </TotalSummary>
       <EditFormTemplate Context="editFormContext">        
            <DxFormLayout>
                <DxFormLayoutItem Caption="Name">
                    @editFormContext.GetEditor("Name")
               </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Price">
                    @editFormContext.GetEditor("Price")
               </DxFormLayoutItem>
                <DxFormLayoutItem Caption="DateAdded">
                    @editFormContext.GetEditor("DateAdded")
               </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12">
                    <ValidationSummary/>

                </DxFormLayoutItem>
            </DxFormLayout>
       </EditFormTemplate> 
       
    </DxGrid>

}

@code {
    private List<ProductModel> products;
    private ProductDisplayModel newProduct = new ProductDisplayModel();

    protected override async Task OnInitializedAsync()
    {
        products = await this.db.GetProducts();
    }

    private async void OnDataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        products.Remove(e.DataItem as ProductModel);
        await this.db.DeleteProduct(e.DataItem as ProductModel);
    }

    private async void OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        ProductModel editModel = (ProductModel)e.EditModel;
        ProductModel newProduct = e.IsNew ? new ProductModel() : (ProductModel)e.DataItem;

        bool isNotEqual = !(newProduct.Name.Equals(editModel.Name) &&
                        newProduct.Price.Equals(editModel.Price) &&
                        newProduct.DateAdded.Equals(editModel.DateAdded));

        newProduct.Name = editModel.Name;
        newProduct.Price = editModel.Price;
        newProduct.DateAdded = editModel.DateAdded;

       
        if (e.IsNew)
        {
            newProduct.Id = Guid.NewGuid();
            products.Add(newProduct as ProductModel);
            await this.db.InsertProduct(newProduct);
        }       
        else if(isNotEqual) 
        {
            await this.db.UpdateProduct(newProduct);
        }
    }
    void OnCustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var editModel = (ProductModel)e.EditModel;
            editModel.DateAdded = DateTime.UtcNow;
        }
    }
}
